//VARIABLES
$generic_font_color:#575c7a;
$generic_font_size: 14px;
$generic_line_height: 1.5em;
$generic_font_family: Arial;

$body_background_img: "../images/background_gradient.jpg";
$body_background_color: #515673;

$h1_color: #a6430a;

$page_max_width: 980px;
$page_background_color: #fff;

$nav_link_color: #f5a06e;
$nav_link_size: .9em;

$footer_font_size: 0.85em;
$footer_font_color: #9ba0bd;
$footer_background_color: #515673;

$header_logo_full_width: 150px;
$header_logo_full_height: 85px; 